html, body {
    height: 100%
}

body::after {
    content: "";
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.04;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container {
    margin-top: 15px;
}

.app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-body {
    flex: 1;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.app-footer {
    height: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: #dc3545;
}

.error-message input, .error-message textarea {
    border: 1px solid #dc3545;
}

a:hover.nav-link {
    background-color: lightslategray;
    color: white !important;
}

h3 {
    padding-bottom: 15px;
}

.contact-button-submit {
    margin-bottom: 15px;
}

@media (max-width: 760px) {
    .form-details {
        margin-bottom: -20px;
    }
}

.app-welcome {
    font-size: 50px;
    font-style: italic;
    color: red;
} 

.app-gallery img { 
    width: 100px;
    height: 100px;
}

.app-gallery h3 {
    text-align: left;
    padding-left: 40px;
}

.app-gallery h5 {
    padding-top: 15px;
}

.carousel-item {
    text-align: center;
    background-color: lightgrey;
}

.app-home-content {
    padding-top: 50px;
}

.img-detail img {
    width: 100%;
    height: 100%;
}

.img-detail h3 {
    padding-left: 0;    
}

.img-list li {
    list-style: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    width: 100px;
    margin-right: 10px;
 }

 .img-list li:hover {
    transform: scale(1.1);
 }

 .img-list figcaption {
    text-align: center;
}

@media (max-width: 768px) {
    .img-list li {
        display: inline-block;
        padding-right: 10px;
    }

    .img-list figure {
        display: inline-block;
    }
}

.app-home-content img {
    width: 250px;
    height: 170px;
    float: right;
    padding-left: 10px;
}

.nav-active { 
    background-color: grey;
    color: white !important;
}

.contact-text {
    min-height: 145px;
}